# Public bot config.
config.rb

# Folder image commands are not included in the source.
images/furry/*
images/eevee/*
images/catgirls/*

# Temporary files should not be uploaded.
tmp/*

# Except for the readme.
!tmp/README.md

# All logs files dumped by the bot with the default settings.
logs/*
logs*

Gemfile.lock

# Atom remote sync config.
.remote-sync.json

# Dolphin directory config file.
.directory
